<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vizitkovník</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<div class="seznam">
    <span th:each="vizitka, iterStat : ${seznam}">
    <a href="/detail" th:href="@{/detail(id=${iterStat.index})}">
        <div class="vizitka">
            <div class="jmeno"><span th:text="${vizitka.jmeno}">Dita (Přikrylová) Formánková</span></div>
            <div class="firma"><span th:text="${vizitka.firma}">Czechitas z. s.</span></div>
            <div class="udaje">
                <div class="adresa">
                    <div th:text="${vizitka.ulice}">Václavské náměstí 837/11</div>
                    <div><span th:text="${vizitka.obecPsc}">11000</span></div>
                </div>
                <div class="kontakty">
                    <div th:if="${vizitka.email}"><i class="las la-at"></i> <span th:text="${vizitka.email}">dita@czechitas.cs</span></div>
                    <div th:if="${vizitka.telefon}"><i class="las la-phone-alt"></i> <span th:text="${vizitka.telefon}">+420 800123456</span></div>
                    <div th:if="${vizitka.web}"><i class="las la-globe"></i> <span th:text="${vizitka.web}">www.czechitas.cz</span></div>
                </div>
            </div>
        </div>
        </span>
    </a>

    <!-- tento kod nechavam zamerne...abych v budoucnu videla zmenu, kterou jsem tu delala
    <a href="/detail">
        <div class="vizitka">
            <div class="jmeno">Dita (Přikrylová) Formánková</div>
            <div class="firma">Czechitas z. s.</div>
            <div class="udaje">
                <div class="adresa">
                    <div>Václavské náměstí 837/11</div>
                    <div><span>11000</span> Praha 1</div>
                </div>
                <div class="kontakty">
                    <div><i class="las la-at"></i> <span>dita@czechitas.cs</span></div>
                    <div><i class="las la-phone-alt"></i> <span>+420 800123456</span></div>
                    <div><i class="las la-globe"></i> <span>www.czechitas.cz</span></div>
                </div>
            </div>
        </div>
    </a>
-->

</div>
</body>
</html>
